html,
body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #881c1c;
}

.nav-link {
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
  padding: 0;
}

.nav-link:hover {
  color: #c2c0c0;
}

.carousel-inner {
  max-height: 675px;
}
