html,
body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #881c1c;
  font-family: 'Barlow', sans-serif;
}

.nav-link {
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff;
  padding: 0;
}

.nav-link:hover {
  color: #c2c0c0;
}

.carousel-inner {
  max-height: 675px;
}

.carousel-caption {
  color:#ffffff; 
  font-size: 800%; 
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  font-family: 'Barlow', sans-serif;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}

.home.container-fluid {
  background: #ffffff;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.head {
  color: #881c1c;
  margin-top: 5px;
  margin-bottom: 10px;
}

.page-footer {
  background: #881c1c
}

.lead {
  margin-left: 10%;
  margin-right: 10%;
}

.fa-book{
  color:#22A7F0;
}

.fa-group{
  color: #26A65B;
}

.fa-cogs{
  color:#F22613;
}

.fa-handshake-o{
  color:#F9690E;
}

.fa-history {
  color:#484c7f;
}

.fa-check {
  color:#f1f72f
}

.fa-bars {
  color: white;
}

#about-us-title{
  color:white;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif
}

#about-us-icons{
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-text {
  font-family: 'Barlow', sans-serif;
}

#read-more {
  position: relative;
  top:-25px;
  font-size: 20px;
}

#accordion {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Barlow', sans-serif;
}

.btn-link {
  color: black;

}

.card-title {
  font-weight: bold;
}

.team-info {
  font-style: italic;
  position: relative;
  top:-10px;
}

.infobox {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #881c1c;
  border-radius: 20px;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(136,28,28,0.7);
  background-blend-mode: multiply;
}

.text-center {
  text-align: center;
}

.programs.container-fluid {
  position: relative;
  text-align: center;
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.programs .card-title {
  font-family: 'Barlow', sans-serif;
  color: #881c1c;
}
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

.pagetitle{
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #881c1c;
}

.footer-text{
  font-family: 'Barlow', sans-serif;
  font-size:12px;
}

@media(max-width: 992px){
  .display-3 {
    font-size: 43px;
  }
}

@media(max-width: 768px){
  .display-3 {
    font-size: 35px;
  }
  .centered {
    font-size: 50%;
  }
  .home.container-fluid {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
  }
}
@media(max-width: 576px){
  .display-3 {
    font-size: 35px;
  }
  .lead {
    font-size:15px;
  }
}

@media(max-width: 400px){
  .display-3 {
    font-size: 35px;
  }
  .lead {
    font-size:12px;
  }
}

@media(max-width: 250px){
  .display-3 {
    font-size: 30px;
  }
  .lead {
    font-size:10px;
  }
}


